.modal-form {
	z-index: 9999 !important;
}

.modal-form * {
	position: relative;
	z-index: 1;
}

.modal-login {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 100%;
	max-width: 450px;
	min-width: 320px;
	border-radius: 20px;
	box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.065);
	border: 1px solid rgba(0, 0, 0, 0.12);
	padding: 24px 16px;
}

.modal-login::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url("../../img/fondo-patitas2.png");
	background-size: cover;
	background-position: center;
	background-position: top;
	opacity: 1;
	border-radius: 20px;
	pointer-events: none;
	z-index: 0;
}

.modal-form .modal-title {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
}

.modal-form .modal-title {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
}

.login-form a {
	color: #f29a8e;
}

.login-form .login-btn {
	background-color: #f29a8e;
	opacity: 50%;
	border: #f29a8e;
	width: 100%;
	border-radius: 10px;
	height: 2.5rem;
}

.login-form .login-btn:hover {
	background-color: #f29a8e;
	opacity: 100%;
	
}  

@media (max-width: 768px) {
.modal-login {
        width: 95%; 
        max-width: 350px; 
    }
    
    .modal-login::before {
        border-radius: 15px; 
	}
    
    .modal-form .modal-title {
        font-size: 1.2rem; 
    }

}