body{
    background-color: #eedfd0;
}

button:focus,
button:active {
    outline: none;
    background-color: #f29a8e !important;
    color: white;
    border-color: #f29a8e !important;
    box-shadow: none;
}