.lost-pet-card {
    border-color: #CD5C5C;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lost-pet-header {
    background-color: #CD5C5C;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
}


.btn-lost-pet-primary {
    background-color: #F88379;
    border-color: #F88379;
    color: white;
}

.btn-lost-pet-primary:hover {
    background-color: #e57373;
    border-color: #e57373;
}

.btn-lost-pet-secondary {
    background-color: #FFDAB9;
    border-color: #FFDAB9;
    color: #5D4037;
}

.btn-lost-pet-secondary:hover {
    background-color: #ffccbc;
    border-color: #ffccbc;
}

.section-title {
    color: #CD5C5C;
    margin-bottom: 1rem;
}

.section-divider {
    border-color: #FFDAB9;
    margin: 1.5rem 0;
}

.form-label {
    font-weight: 500;
    color: #5D4037;
}

.form-control:focus,
.form-select:focus {
    border-color: #F88379;
    box-shadow: 0 0 0 0.25rem rgba(205, 92, 92, 0.25);
}

.form-group {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {

    /* Aplica margen inferior de 1rem a cada columna directa dentro de .form-row */
    .form-row>div[class*="col-"] {
        margin-bottom: 1rem;
    }

}