
.donation-card {
    border-color: #CD5C5C;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.donation-header {
    background-color: #CD5C5C;
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0 0;
}

.paw-icon {
    color: white;
    font-size: 1.5rem;
}

.title-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: white;
}

.paw-icon {
    font-size: 1.8rem;
    color: white;
}

.donation-text {
    text-align: center;
    margin: 15px 0;
    color: #333;
    font-size: 1.1rem;
}

.donation-form .section-title {
  color: #CD5C5C;
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #eedad9;
}

.donation-boton {
    padding: 12px;
    background-color:  #CD5C5C;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.donation-boton:hover {
    background-color: #CD5C5C;
}

.form-label {
    font-weight: 500;
    color: #5D4037;
}

.form-control:focus,
.form-select:focus {
    border-color: #F88379;
    box-shadow: 0 0 0 0.25rem rgba(205, 92, 92, 0.25);
}

.lost-pet-card {
    border-color: #CD5C5C;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lost-pet-header {
    background-color: #CD5C5C;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
}


.btn-lost-pet-primary {
    background-color:  #CD5C5C;
    border-color:  #CD5C5C;
    color: white;
    font-size: 1.1rem;
    font-weight: bolder;
    padding: 1.5rem;
}

.btn-lost-pet-primary:hover {
    background-color: #e57373;
    border-color: #e57373;
}

.btn-lost-pet-secondary {
    background-color: #FFDAB9;
    border-color: #FFDAB9;
    color: #5D4037;
}

.btn-lost-pet-secondary:hover {
    background-color: #ffccbc;
    border-color: #ffccbc;
}

.section-title {
    color: #CD5C5C;
    margin-bottom: 1rem;
}

.section-divider {
    border-color: #FFDAB9;
    margin: 1.5rem 0;
}

.form-label {
    font-weight: 500;
    color: #5D4037;
}

.form-control:focus,
.form-select:focus {
    border-color: #F88379;
    box-shadow: 0 0 0 0.25rem rgba(205, 92, 92, 0.25);
}

.form-group {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {

    .form-row>div[class*="col-"] {
        margin-bottom: 1rem;
    }

}