.donation-card {
    border-color: #CD5C5C;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
.donation-header {
    background-color: #CD5C5C;
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0 0;
}

.icono-patita {
    color: white;
    font-size: 1.5rem;
}

.titulo-con-icono {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
    color: white;
  }
  
  .icono-patita {
    font-size: 1.8rem;
    color: white;
  }
    
.donation-text {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-style: italic;
    font-size: 1.1rem;
    }
    
.donation-form .section-title {
    color: #CD5C5C;
    margin-bottom: 1rem;
    }
    
.donation-boton {
    padding: 12px;
    background-color: #F88379;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    }

.donation-boton:hover {
    background-color: #CD5C5C;
    }
    
.form-label {
    font-weight: 500;
    color: #5D4037;
    }
    
.form-control:focus,
.form-select:focus {
    border-color: #F88379;
    box-shadow: 0 0 0 0.25rem rgba(205, 92, 92, 0.25);
    }